h1{
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    color:#5b0303;
}

p{
    font-size: ;
    color:rgb(23, 5, 39);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#discover
{
    
    border: 2px solid  black;
    padding: 10px;
    margin: 10px;
}

body{
    background-color: #32323c;
    
}
nav
{
    Position : fixed;
    top: 0; 
    left: 0;
    width: 100%;
    display: inline;
    background-color: #cbb084;
    opacity: 0.95;
    padding: 10px 0px;
    box-shadow: 0px 2px 10px rgba(32, 64, 94, 0.52);
}
nav ul{
    list-style-type: none;
   padding:0;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li{
    margin: 0 ;
}

nav a{
    text-decoration: none;
    font-family: 'sans-serif';
    color: #fff;
    transition: color 0.3s border-bottom 0.3s;
    padding: 10px 15px;
    font-weight: bold;
}
nav a:hover{
    color: #000;
    border-bottom: 2px solid #000;
}   