h1{
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    color:#d7b8b8;
}

p{
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    color:#f0e6e6;
    line-height: 1.5;
}

.discover
{
    background-color: rgba(255, 255, 255, 0.05); 
    border-radius: 8px;
    padding: 20px;
    margin: 80px auto;
    max-width: 800px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    font-family: "monserrat", sans-serif;
    color: #e6e6e6;
    margin-bottom: 5px;
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 5px;
    line-height: 1.6;
}
.discover h1{
 font-family: "monserrat", sans-serif;
    margin-bottom: 5px;
    font-size: 24px;
    color: #e6e6e6;
    border-bottom: 2px solid #e6e6e6;
    display: inline-block;
    padding-bottom: 5px;
}
body{
    background-color: #32323c;
    
}
nav
{
    Position : fixed;
    top: 0; 
    left: 0;
    width: 100%;
    display: inline;
    background-color: #d8edc7;
    opacity: 0.95;
    padding: 10px 0px;
    box-shadow: 0px 2px 10px rgba(32, 64, 94, 0.52);
}
nav ul{
    list-style-type: none;
   padding:0;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li{
    margin: 0 ;
}

nav a{
    text-decoration: none;
    font-family: 'sans-serif';
    color: #0e0d0d;
    transition: color 0.3s border-bottom 0.3s;
    padding: 10px 15px;
    font-weight: bold;
}
nav a:hover{
    color: #0f0f0f;
    border-bottom: 2px solid #000;
}   

img{
    image-resolution: calc(100);
    
    width: 100%;
    height: 100%;
    display: block;
}
a{
    text-decoration: none;
}